[Unit]
# Descrição do serviço: Define o objetivo do serviço de monitoramento do nginx
Description=Monitoramento do serviço nginx

# Garante que o serviço só inicie após a rede estar disponível
After=network.target

[Service]
# Caminho para o script de monitoramento que será executado
ExecStart=/usr/bin/monitoramento_nginx/site_onoff.sh

# Define que o serviço deve ser reiniciado automaticamente caso pare
Restart=always

# Define que a saída padrão será registrada no journal do sistema
StandardOutput=journal

# Define que os erros do serviço serão registrados no journal do sistema
StandardError=journal

[Install]
# Garante que o serviço será iniciado no modo multiusuário, o que é comum em servidores
WantedBy=multi-user.target