[Unit]
# Descrição do serviço
Description=Monitoramento do serviço nginx

# Garante que o serviço só inicie após a rede estar disponível
After=network.target

[Service]
# Caminho para o script de monitoramento que será executado
ExecStart=/usr/bin/monitoramento_nginx/site_onoff.sh

# Define que o serviço deve ser reiniciado automaticamente caso pare
Restart=always

# Tempo de espera antes de tentar reiniciar o serviço
RestartSec=5

# Define o usuário e grupo sob os quais o serviço será executado
User=nobody
Group=nogroup

# Define que a saída padrão e os erros do serviço serão registrados no log especificado
StandardOutput=append:/var/log/monitoramento_nginx/status.log
StandardError=append:/var/log/monitoramento_nginx/status.log

[Install]
# Garante que o serviço será iniciado no modo multiusuário
WantedBy=multi-user.target